<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">落榜秀才</a></h1>
            <p>凡心所向&nbsp;&nbsp;素履所往</p>
            <p>生如逆旅&nbsp;&nbsp;一苇以航</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">主业</a></li>
                <li><a href="{{ site.baseurl }}/contact">摄影作品</a></li>
                <li><a href="https://www.cnblogs.com/xq-1209">技术博客</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://www.twitter.com/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.veryins.com/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://mail.qq.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

